<div class="container">
  <span class="row my-4">
    <h4 class="offset-md-1 col-3">マイページ</h4>
  </span>
  <div class="row mb-3 justify-content-start">
    <label class="font-weight-bold col-1">登録情報</label>
    <div class="form-action col-2">
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success btn-md" %>
    </div>
  </div>

  <% @customers.each do |customer| %>
  <div class="col-8 pl-0">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="table-active">氏名</td>
          <td><%= customer.last_name %>　<%= customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</td>
          <td><%= customer.last_name_kana %>　<%= customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">郵便番号</td>
          <td><%= customer.postal_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</td>
          <td><%= customer.address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</td>
          <td><%= customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</td>
          <td><%= customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>

  <!--url指定する（２）-->
  <div class="row my-3 justify-content-start">
    <label class="font-weight-bold col-1">配送先</label>
    <div class="form-action col-2">
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-md px-4" %>
    </div>
  </div>
  <div class="row justify-content-start">
    <label class="font-weight-bold col-1">注文一覧</label>
    <div class="form-action col-2">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-md px-4" %>
    </div>
  </div>

</div>