<div class="container">
  <h4>管理者ログイン</h4>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div class="form-group row justify-content-center">
    <div class="col-md-2">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-md-4">
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "admin@admin" %>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <div class="col-md-2">
      <%= f.label :password, "パスワード" %>
    </div>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>
  </div>

  <div class="actions row justify-content-center">
    <div class="offset-md-2 col-md-4">
    <%= f.submit "ログイン", class: "btn btn-md btn-primary px-5" %>
    </div>
  </div>
<% end %>
</div>