<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <%= link_to root_path, class: "logo" do %>
            <div>
              <%= image_tag "linkedin_banner_image_1.png", size: "200x80" %>
            </div>
          <% end %>

          <ul class="navbar-nav">
            <% if customer_signed_in? %>
               <li class="nav-item">
                <%= link_to "マイページ", customers_my_page_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%#= link_to "商品一覧", _path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%#= link_to "カート", customers_my_page_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else%>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%#= link_to "商品一覧", _path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <p id="notice"><%= flash[:notice] %></p>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
