<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4bdd89c768.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm pb-2">
      <nav class="navbar navbar-expand-lg p-0 mt-4 mb-4">
        <div class="container">
          <div>
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag "linkedin_banner_image_1.png", size: "200x80" %>
          <% end %>
          </div>
          <div class="col-md-3 text-right">
            <% if customer_signed_in? %>
            <p>ようこそ、<%= current_customer.last_name %>さん！</p>
            <% end %>
          </div>

          <div class="col-md-6">
            <ul class="navbar-nav float-right">
              <% if customer_signed_in? %>
                 <li class="nav-item">
                  <%= link_to "マイページ", customers_my_page_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link btn border px-3" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link btn border px-3" %>
                </li>
              <% else%>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link btn border px-3 mr-3"%>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link btn border px-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link btn border px-3" %>
                </li>
              <% end %>
            </ul>

            <div class="float-right mt-2">
            <%#= form_tag admin_genres_path, method: :get do %>
              <%= text_field_tag :serch, params[:serch] %>
              <%= submit_tag "Serch", :name => nil %>
            <%# end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="mt-5"></div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="error"><%= flash[:error] %></p>
        <%= yield %>
    </main>

    <footer">
    </footer>
  </body>
</html>
